<template>
    <section class="basket total close">
        <h2>
            Your Cart
        </h2>
        <form action="" method="">
            <table>
                <tr class="tr-column-name">
                    <th>
                        Shop List
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
                <item-cart v-for="item in cartList" :item="item">

                </item-cart>
                <tr>
                    <td>
                        <button @click.prevent="$root.$emit('clearCartList')" class="clear-all">
                            Clear All
                        </button>
                    </td>
                    <td colspan="2">
                        <span>Sum</span>
                        <span class="total-price">${{totalPrice}}</span>
                    </td>
                </tr>
            </table>
            <nav>
                <button @click.prevent="goToGallery" class="continue-shopping">
                    Continue shopping
                </button>
                <button @click.prevent="showAlertMessage()" class="buy">
                    Buy
                </button>
            </nav>
        </form>
    </section>
</template>

<script>
    import itemCart from "./itemCart";

    export default {
        name: "cart",
        components:{itemCart},
        props: {
            cartList:{
                type: Array,
                default: () => []
            },
            totalPrice:{
                type: Number,
                default: ()=> 0
            }
        },
        methods:{
            goToGallery(){
                this.$router.push('/');
            },

            showAlertMessage(){
                alert("Your total price = $" + this.totalPrice);
            }
        }
    }
</script>

<style scoped>
    button
    {
        margin: 0;
        padding: 0;

        border: none;
        outline: none;
        background-color: transparent;
    }

    button
    {
        color: white;
        border: 2px solid white;
    }

    section.basket form
    {
        color: white;
    }

    section.basket table
    {
        width: 550px;
        margin-top: 30px;

        border-collapse: collapse;
    }

    section.basket table tr
    {
        background-color: #d9644a;
    }

    section.basket table tr:nth-child(2n)
    {
        background-color: #bf613f;
    }

    section.basket table tr:last-child
    {
        font-weight: 400;

        background-color: #343e40;
    }

    section.basket table td,
    section.basket table th
    {
        font-size: 20px;
        font-weight: 100;
        line-height: 35px;

        height: 35px;
        padding: 5px 20px;

        text-align: center;
    }

    section.basket table td:first-child,
    section.basket table th:first-child
    {
        text-align: left;
    }

    section.basket table td:nth-child(2),
    section.basket table th:nth-child(2)
    {
        text-align: left;
    }

    section.basket table td:last-child,
    section.basket table th:last-child
    {
        text-align: right;
    }

    .clear-all
    {
        padding: 5px 10px;

        vertical-align: text-top;
    }

    nav
    {
        width: 550px;
        margin-top: 15px;

        background-color: #4ea686;
    }

    nav button
    {
        margin: 20px 20px;
        padding: 5px 10px;
    }

</style>