<template>
    <section class="cart-category">
        <div class="head">
            <h2>
                {{$route.params.name}}
            </h2>
        </div>
        <div class="scroll-wrapper">
           <item-category v-for="item in generateItems()" :item="generateItemObj(item)">

           </item-category>
        </div>
    </section>
</template>

<script>
    import itemCategory from "./itemCategory.vue";
    export default {
        name: "category",
        components: {itemCategory},
        props: {
            categories: {
                type: Array,
                default: () => []
            },
            cartList:{
                type: Array,
                default: () => []
            },
        },
        methods: {
            generateItems() {
                let categories = this.categories;
                let categoryName = this.$route.params.name;
                let items = [];
                categories.forEach( (category)=> {
                    if (category.categoryName === categoryName) {
                        items = category.items;
                    }
                });

                return items;
            },

            generateItemObj(item) {
                //console.log("generateItem");
                item.amount = 0;
                const categoryName = this.$route.params.name;
                //console.log(this.cartList);
                this.cartList.forEach(function (itemList) {

                    const fullItemName = item.nameItem + " " + categoryName;
                    if(fullItemName === itemList.fullItemName){
                        //console.log("змінило");
                        item.amount = itemList.amount;
                    }
                });

                return item;
            },

            }
        }
</script>

<style scoped>
    section
    {
        font-family: 'Segoe UI';
        position: relative;
        margin: 0;
        padding: 27px 0 55px 120px;
        z-index: 100;
    }
    h2
    {
        font-family: 'Segoe UI Light';
        font-size: 53px;
        font-weight: 100;
    }

    section > div
    {
        display: flex;
    }

    section > div.head{
        justify-content: space-between;
    }

    .scroll-wrapper
    {
        display: flex;
        overflow-x: auto;

        width: 1246px;
        margin-top: 38px;
    }

    section.cart-category
    {
        padding-top: 34px;
        padding-bottom: 165px;
        padding-left: 115px;
    }

    .cart-category h2
    {
        font-size: 56px;
    }

    .cart-category .scroll-wrapper
    {
        margin-top: 22px;
    }


</style>