<template>
    <div class="card-column" :class="getColumnSize()">
        <item-gallery v-for="item in generateItemSize" :item="item" :sizeType="column.sizeType">
        </item-gallery>
    </div>
</template>

<script>
    import itemGallery from "./itemGallery";

    export default {
        name: "column-gallery",
        components: {itemGallery},
        props: {
            column: {
                type: Object,
                default: () => {}
            }
        },
        data(){
            return{

            }
        },
        computed: {
            generateItemSize(){
                const standartSrcImgPrephics = 'cart-';
                const srcPrephicsForLargeImg = 'cart-large-';
                const srcPrephicsForHeightImg = 'cart-height-';

                const columnSize = this.getColumnSize();
                let items = this.column.items;

                if(columnSize === 'small-width'){
                    if(items.length === 2){
                        items[0].sizeClass = 'small-height';

                        if(items[1] !== undefined){
                            items[1].sizeClass = 'large-height';
                            items[1] = this.changePrephicsSrcInImg(items[1], standartSrcImgPrephics, srcPrephicsForHeightImg );
                        }
                    }
                    else{
                        items[0].sizeClass = 'small-height';
                        if(items[1] != undefined){
                            items[1].sizeClass = 'small-height';
                        }
                        if(items[2] != undefined){
                            items[2].sizeClass = 'small-height';
                        }
                    }

                }
                else
                if(columnSize === 'middle-width'){
                    items[0].sizeClass = 'large-height';

                    if(items[1] !=undefined){
                        items[1].sizeClass = 'small-height';
                        items[1] = this.changePrephicsSrcInImg(items[1], standartSrcImgPrephics, srcPrephicsForLargeImg);
                    }
                }
                else
                if(columnSize === 'large-width'){
                    items[0].sizeClass = 'large-width small-height';
                    items[0] = this.changePrephicsSrcInImg(items[0], standartSrcImgPrephics, srcPrephicsForLargeImg);

                    for(let i = 1; i < items.length; i++ ){
                        items[i].sizeClass = 'small-width small-height';
                    }

                }

                this.column.items = items;
                return items;
            }
        },
        methods:{
        getColumnSize() {
            const size = this.column.sizeType;

            if (size === 1) {
                return "small-width";
            }
            else if (size === 2) {
                return "middle-width";
            }
                return "large-width";
            },

        changePrephicsSrcInImg(item, startPrephics, newPrephics) {
            item.imgSrc = item.imgSrc.replace(/(cart-)((large-)|(height-)|())/g, newPrephics);
            return item;
        }
        },


    }
</script>

<style scoped>
    .card-column
    {
        display: inline-block;

        margin-right: 10px;

        text-align: center;
        vertical-align: top;
    }

    .card-column a:hover img
    {
        transition: 1s all;

        transform: scale(1.1);
    }

    .small-width
    {
        width: 230px;
        min-width: 230px;
    }

    .middle-width
    {
        width: 360px;
        min-width: 360px;
    }

    .large-width
    {
        width: 470px;
        min-width: 470px;
    }



    .large-width button:nth-child(2),
    .large-width button:nth-child(4){
        margin-right: 5px;
    }

    .small-height
    {
        height: 180px;
        min-height: 180px;
    }

    .large-height
    {
        height: 370px;
        min-height: 370px;
    }


    .small-width.small-height img{
        width: 230px;
        height: 180px;
    }

</style>