<template>
    <section class="shopping-cart open">
        <div class="head">
            <h2>
                Shopping Cart — Make Purchases Now!
            </h2>
        </div>
        <div class="scroll-wrapper">
            <column-gallery v-for="column in columnsArray" :column="column" >
            </column-gallery>
        </div>
    </section>
</template>

<script>
    import columnGallery from "./column-gallery";

    export default {
        name: "gallery",
        components: {columnGallery},
        props: {
            categories: {
                type: Array,
                default: () => []
            },
            columnsArray:{
                type: Array,
                default: () => []
            }
        },
    }
</script>

<style scoped>
    section > div
    {
        display: flex;
    }

    section > div.head{
        justify-content: space-between;
    }

    .scroll-wrapper
    {
        display: flex;
        overflow-x: auto;

        width: 1246px;
        margin-top: 38px;
    }

    .shopping-cart a {
        overflow: hidden;
        position: relative;
        margin-bottom: 10px;
        width: 100%;
    }

</style>