<template>
    <router-link :class="'btn-category ' + item.sizeClass" :to="'/category/' + item.categoryName" >
        <img :src="generateSrc()" alt=""/>
        <span>{{item.categoryName}}</span>
    </router-link>
</template>

<script>
    export default {
        name: "item-gallery",
        props: {
            item: {
                type: Object,
                default: ()=> {}
            },
            sizeType:{
                type: Number,
                default: ()=> 1
            }
        },
        computed:{
          goToCategory(){
              return router.push('category/'+ item.categoryName);
          }
        },
        methods:{
            generateSrc(){
                return "" + this.item.imgSrc;
            }
        }
    }
</script>

<style scoped>
    a
    {
        display: block;
        overflow: hidden;

        position: relative;

        margin-bottom: 10px;

        width: 100%;
    }

    a img
    {
        width: 100%;
        height: 100%;
    }

    a span
    {
        font-family: 'Segoe UI';
        font-size: 22px;
        line-height: 40px;

        position: absolute;
        bottom: 0;

        display: block;

        width: 339px;
        height: 40px;
        padding-left: 21px;

        text-align: left;

        color: #010101;
        background-color: rgba(255,255,255,.8);
    }

    .small-width
    {
        width: 230px;
        min-width: 230px;
    }

    .middle-width
    {
        width: 360px;
        min-width: 360px;
    }

    .large-width
    {
        width: 470px;
        min-width: 470px;
    }



    .large-width a:nth-child(2),
    .large-width a:nth-child(4){
        margin-right: 10px;
        float: left;
    }

    .small-height
    {
        height: 180px;
        min-height: 180px;
    }

    .large-height
    {
        height: 370px;
        min-height: 370px;
    }



    .small-width.small-height img{
        width: 230px;
        height: 180px;
    }

    a.large-width span{
        width: 459px;
    }

</style>