<template>
    <div class="category-item">
        <figure>
            <img :src="item.imgItemSrc" alt=""/>
            <figcaption>
                  <span class="item-name">
                    {{item.nameItem}}
                  </span>
                <span class="item-price">
                    {{item.price}}
                  </span>
            </figcaption>
        </figure>
        <div>
            <button @click="changeAmount(-1)" class="remove-item">
                -
            </button>
            <div class="item-count">
                <label>
                    Amount
                </label>
                <span class="item-amount">
                    {{amount}}
                </span>
            </div>
            <button @click="changeAmount(1)"  class="add-item">
                +
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "item-category",
        props: {
            item: {
                type: Object,
            default: () => {}
            }
        },
        data(){
            return{
                amount : this.item.amount
            }
        },
        methods:{
            changeAmount(value){
                const minusValue = -1;
                const plusValue = 1;
                let itemAmount = +(this.amount);

                if(value == plusValue){
                    itemAmount = itemAmount + 1;
                }
                else
                if(itemAmount != 0 && value == minusValue){
                    itemAmount = itemAmount - 1;
                }

                this.amount = itemAmount;

                this.$root.$emit('changeCartListItem', {
                    name: this.item.nameItem,
                    fullItemName: this.item.nameItem + " " + this.$route.params.name,
                    amount : this.amount,
                    price : this.item.price});
            }
        }
    }
</script>

<style scoped>
    button
    {
        margin: 0;
        padding: 0;

        border: none;
        outline: none;
        background-color: transparent;
    }

    .category-item figcaption
    {
        font-family: 'Segoe UI';
        font-size: 22px;
        line-height: 40px;

        position: absolute;
        bottom: 0;

        display: block;

        width: 339px;
        height: 40px;
        padding-left: 21px;

        text-align: left;

        color: #010101;
        background-color: rgba(255,255,255,.8);
    }

    .category-item
    {
        font-family: 'Segoe UI';

        width: 360px;
        min-width: 360px;
        margin-top: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .cart-category figure:hover
    {
        display: block;

        outline: 2px solid #d9644a;
    }

    .category-item figure
    {
        position: relative;

        width: 100%;
        height: 370px;
    }

    .category-item img
    {
        width: 100%;
        height: 100%;
    }

    .category-item figcaption
    {
        position: absolute;

        width: 100%;
        padding: 0;
    }

    .category-item figcaption span
    {
        line-height: 40px;
    }

    .category-item figcaption .item-name
    {
        font-size: 22px;

        margin-left: 20px;

        color: #010101;
    }

    .category-item figcaption .item-price
    {
        font-size: 32px;

        float: right;

        margin-right: 19px;

        color: #d9644a;
    }

    .category-item > div
    {
        display: flex;

        width: 360px;
        height: 80px;
        margin-top: 10px;

        background-color: #4ea686;

        justify-content: space-evenly;
        align-items: center;
    }

    .category-item > div button
    {
        font-size: 37px;
        line-height: 35px;

        position: relative;

        width: 35px;
        height: 35px;

        color: white;
        outline: 4px solid white;
    }

    .remove-item
    {
        right: 37px;
    }

    .add-item
    {
        left: 37px;
    }

    .item-count
    {
        margin-top: -3px;
    }

    .category-item .item-count label
    {
        font-family: 'Segoe UI Light';
        font-size: 15px;
    }

    .category-item .item-count span
    {
        font-size: 32px;
    }

    .category-item .item-count span,
    .category-item .item-count label
    {
        display: block;

        text-align: center;

        color: white;
    }


</style>