<template>
    <tr class="list-pattern-item">
        <td>
            <button @click.prevent="changeAmount(0)" class="delete-item">
            </button>
            <span class="item-name">
                {{item.fullItemName}}
            </span>
        </td>
        <td>
            <button @click.prevent="changeAmount(-1)" class="minus-item">-</button>
            <span class="item-total">{{item.amount}}</span>
            <button @click.prevent="changeAmount(1)" class="plus-item">+</button>
        </td>
        <td class="item-price">
            ${{item.price.replace('$','') * item.amount}}
        </td>
    </tr>
</template>

<script>
    export default {
        name: "item-cart",
        props: {
            item:{
                type: Object,
                default: () => {}
            },
        },
        methods:{
            changeAmount(value){
                const minusValue = -1;
                const plusValue = 1;
                const deleteValue = 0;

                let itemAmount = +(this.item.amount);

                if(value == plusValue){
                    itemAmount = itemAmount + 1;
                }
                else
                if(itemAmount != 0 && value == minusValue){
                    itemAmount = itemAmount - 1;
                }else {
                    itemAmount = deleteValue;
                }

                this.item.amount = itemAmount;

                this.$root.$emit('changeCartListItem', {
                    name: this.item.name,
                    fullItemName: this.item.fullItemName,
                    amount : this.item.amount,
                    price : this.item.price});
            }
        }
    }
</script>

<style scoped>
    button
    {
        margin: 0;
        padding: 0;

        border: none;
        outline: none;
        background-color: transparent;
    }

    button.delete-item
    {
        position: relative;
        top: 5px;

        width: 25px;
        height: 25px;
        margin-right: 10px;

        background: url('../../public/images/delete.png') no-repeat;
        background-position: center;
        background-size: 80%;
    }

    .minus-item,
    .plus-item
    {
        font-size: 20px;
        line-height: 14px;

        display: inline-block;

        width: 19px;
        height: 19px;
    }

    .minus-item{
        margin-right: 5px;
    }

    .plus-item{
        margin-left: 7px;
    }

    button
    {
        color: white;
        border: 2px solid white;
    }

    .item-total
    {
        font-size: 24px;

        display: inline-block;

        width: 20px;
        margin-right: 1px;
        margin-left: 1px;

        text-align: center;
    }

    tr
    {
        background-color: #d9644a;
    }

    tr:nth-child(2n)
    {
        background-color: #bf613f;
    }

    tr:last-child
    {
        font-weight: 400;

        background-color: #343e40;
    }

    td
    {
        font-size: 20px;
        font-weight: 100;
        line-height: 35px;

        height: 35px;
        padding: 5px 20px;

        text-align: center;
    }

    td:first-child
    {
        text-align: left;
    }

    section.basket table td:nth-child(2)
    {
        text-align: left;
    }

    section.basket table td:last-child
    {
        text-align: right;
    }
</style>