

button
{
    margin: 0;
    padding: 0;

    border: none;
    outline: none;
    background-color: transparent;
}


section
{
    font-family: 'Segoe UI';
    position: relative;
    margin: 0;
    padding: 27px 0 55px 120px;
    z-index: 100;
}



h2
{
    font-family: 'Segoe UI Light';
    font-size: 53px;
    font-weight: 100;
}




.small-width
{
    width: 230px;
    min-width: 230px;
}

.middle-width
{
    width: 360px;
    min-width: 360px;
}

.large-width
{
    width: 470px;
    min-width: 470px;
}



.large-width button:nth-child(2),
.large-width button:nth-child(4){
    margin-right: 5px;
}

.small-height
{
    height: 180px;
    min-height: 180px;
}

.large-height
{
    height: 370px;
    min-height: 370px;
}

.small-width.small-height{
    width: auto;
}

.small-width.small-height img{
    width: 230px;
    height: 180px;
}


section > div
{
    display: flex;
}

section > div.head{
    justify-content: space-between;
}

.shopping-cart .card-column
{
    display: inline-block;

    margin-right: 10px;

    text-align: center;
    vertical-align: top;
}

.shopping-cart .card-column button:hover img
{
    transition: 1s all;

    transform: scale(1.1);
}

.shopping-cart button
{
    overflow: hidden;

    position: relative;

    margin-bottom: 10px;

    width: 100%;
}

.shopping-cart button img
{
    width: 100%;
    height: 100%;
}

.shopping-cart button span,
.category-item figcaption
{
    font-family: 'Segoe UI';
    font-size: 22px;
    line-height: 40px;

    position: absolute;
    bottom: 0;

    display: block;

    width: 339px;
    height: 40px;
    padding-left: 21px;

    text-align: left;

    color: #010101;
    background-color: rgba(255,255,255,.8);
}

button.large-width span{
    width: 459px;
}

.scroll-wrapper
{
    display: flex;
    overflow-x: auto;

    width: 1246px;
    margin-top: 38px;
}

.back
{
    position: absolute;
    top: 50px;
    left: 38px;

    width: 45px;
    height: 45px;

    background: url('../images/back.png') no-repeat;
    background-size: contain;

    z-index: 1000;
}




.cart-category .category-item
{
    font-family: 'Segoe UI';

    width: 360px;
    min-width: 360px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}



.cart-category figure:hover
{
    display: block;

    outline: 2px solid #d9644a;
}

.cart-category .category-item figure
{
    position: relative;

    width: 100%;
    height: 370px;
}

.category-item img
{
    width: 100%;
    height: 100%;
}

.category-item figcaption
{
    position: absolute;

    width: 100%;
    padding: 0;
}

.category-item figcaption span
{
    line-height: 40px;
}

.category-item figcaption .item-name
{
    font-size: 22px;

    margin-left: 20px;

    color: #010101;
}

.category-item figcaption .item-price
{
    font-size: 32px;

    float: right;

    margin-right: 19px;

    color: #d9644a;
}

.category-item > div
{
    display: flex;

    width: 360px;
    height: 80px;
    margin-top: 10px;

    background-color: #4ea686;

    justify-content: space-evenly;
    align-items: center;
}

.category-item > div button
{
    font-size: 37px;
    line-height: 35px;

    position: relative;

    width: 35px;
    height: 35px;

    color: white;
    outline: 4px solid white;
}

.cart-category .remove-item
{
    right: 37px;
}

.cart-category .add-item
{
    left: 37px;
}

.cart-category .item-count
{
    margin-top: -3px;
}

.category-item .item-count label
{
    font-family: 'Segoe UI Light';
    font-size: 15px;
}

.category-item .item-count span
{
    font-size: 32px;
}

.category-item .item-count span,
.category-item .item-count label
{
    display: block;

    text-align: center;

    color: white;
}

section.basket form
{
    color: white;
}

section.basket table
{
    width: 550px;
    margin-top: 30px;

    border-collapse: collapse;
}

section.basket table tr
{
    background-color: #d9644a;
}

section.basket table tr:nth-child(2n)
{
    background-color: #bf613f;
}

section.basket table tr:last-child
{
    font-weight: 400;

    background-color: #343e40;
}

section.basket table td,
section.basket table th
{
    font-size: 20px;
    font-weight: 100;
    line-height: 35px;

    height: 35px;
    padding: 5px 20px;

    text-align: center;
}

section.basket table td:first-child,
section.basket table th:first-child
{
    text-align: left;
}

section.basket table td:nth-child(2),
section.basket table th:nth-child(2)
{
    text-align: left;
}

section.basket table td:last-child,
section.basket table th:last-child
{
    text-align: right;
}

section.basket button
{
    color: white;
    border: 2px solid white;
}

section.basket button.delete-item
{
    position: relative;
    top: 5px;

    width: 25px;
    height: 25px;
    margin-right: 10px;

    background: url('../images/delete.png') no-repeat;
    background-position: center;
    background-size: 80%;
}

section.basket .minus-item,
section.basket .plus-item
{
    font-size: 20px;
    line-height: 14px;

    display: inline-block;

    width: 19px;
    height: 19px;
}

section.basket .item-total
{
    font-size: 24px;

    display: inline-block;

    width: 20px;
    margin-right: 1px;
    margin-left: 1px;

    text-align: center;
}

section.basket .clear-all
{
    padding: 5px 10px;

    vertical-align: text-top;
}

section.basket nav
{
    width: 550px;
    margin-top: 15px;

    background-color: #4ea686;
}

section.basket nav button
{
    margin: 20px 20px;
    padding: 5px 10px;
}

section.basket .buy
{
    float: right;

    padding: 5px 25px;
}

.open
{
    display: block;
}

.close
{
    display: none;
}

.list-pattern-item{
    display: none;
}

.shopping-cart .card-column:last-child.large-width button:last-child{
    float: left;

    margin-right: 5px;
}