<template>
    <article id="app">
        <div class="line"></div>
        <button v-show="$router.currentRoute.name!='gallery'" @click="$router.go(-1)" class="back close">
        </button>
        <div v-show="$router.currentRoute.name!='cart'" @click="$router.push('/cart')" class="basket basket-block">
                <span class="total">
                    {{totalPrice}}$
                </span>
        </div>
        <router-view :categories="categories" :columnsArray="columnsArray" :cartList="cartList"
                     :totalPrice="totalPrice"></router-view>
    </article>
</template>

<script>

    export default {
        name: 'app',
        components: {},
        data() {
            return {
                categories: [],
                columnsArray: [],
                cartList: [],
                totalPrice: 0,
            }
        },
        mounted() {
            this.readJson();
            this.readLocalStorage();
            this.calculateTotalPrice();
            this.generateColumnsArray();
        },
        created() {
            this.$root.$on('changeCartListItem', (cartItem) => {
                this.changeCartListItem(cartItem);
                this.updateLocaleStorage();
                this.calculateTotalPrice();
            });

            this.$root.$on('clearCartList', () => {
                this.clearCart();
                this.updateLocaleStorage();
                this.calculateTotalPrice();
            });

        },
        methods: {
            readJson() {
                fetch("../data/categories.json")
                    .then(response => response.json())
                    .then((categories) => {
                        this.categories = categories;
                        this.generateColumnsArray();
                    })
                    .catch(alert);
            },

            readLocalStorage() {
                const unParsedObj = localStorage.getItem('cartList');
                const cartListObj = JSON.parse(unParsedObj);
                if (cartListObj) {
                    this.cartList = cartListObj.items;
                }
            },

            updateLocaleStorage() {
                const basketObj = {items: this.cartList};
                const serializeCartList = JSON.stringify(basketObj);

                localStorage.setItem('cartList', serializeCartList);
            },

            generateColumnsArray() {

                const smallWidth = 1;
                const mediumWidth = 2;
                const largeWidth = 3;

                let currentIndex = 0;
                let columns = [];
                while (currentIndex < this.categories.length) {

                    const sizeType = this.getRandomValue(smallWidth, largeWidth);
                    const itemsCounterInColumn = this.countItemsInColumn(sizeType);

                    columns.push({
                        sizeType,
                        items: this.categories.slice(currentIndex, currentIndex+itemsCounterInColumn)
                    });

                    currentIndex += itemsCounterInColumn;
                }

                this.columnsArray = columns;
            },

            countItemsInColumn(columnSize) {
                const smallWidth = 1;
                const mediumWidth = 2;
                const largeWidth = 3;

                const maxItemsInSmallColumn = 3;
                const minItemsInSmallColumn = 2;
                const maxItemsInMediumColumn = 2;
                const minItemsInMediumColumn = 2;
                const maxItemsInLargeColumn = 5;
                const minItemsInLargeColumn = 5;

                let itemCounter = 0;
                if (columnSize === smallWidth) {
                    itemCounter = this.getRandomValue(minItemsInSmallColumn, maxItemsInSmallColumn);
                }
                else if (columnSize === mediumWidth) {
                    itemCounter = this.getRandomValue(minItemsInMediumColumn, maxItemsInMediumColumn);
                }
                else {
                    itemCounter = this.getRandomValue(minItemsInLargeColumn, maxItemsInLargeColumn);
                }

                return itemCounter;

            },

            getRandomValue(min, max) {
                let number = min + Math.random() * (max + 1 - min);
                number = Math.floor(number);
                return number;
            },

            changeCartListItem(cartItem) {
                let itemInList = false;
                let cartList = this.cartList;

                for (let i = 0; i < cartList.length; i++) {
                    let item = cartList[i];

                    if (item.fullItemName === cartItem.fullItemName) {
                        itemInList = true;

                        if (cartItem.amount == 0) {
                            cartList.splice(i, 1);
                        } else {
                            item.amount = cartItem.amount;
                        }
                    }
                }

                this.cartList = cartList;

                if (!itemInList) {
                    this.cartList.push(cartItem);
                }

            },

            calculateTotalPrice() {
                this.totalPrice = 0;
                this.totalPrice = this.cartList.reduce(function (sum, current) {
                    return sum + (+current.price.replace('$', "")) * (+current.amount);
                }, 0);

            },

            clearCart() {
                this.cartList = [];
            }

        }
    }


</script>

<style>
    @import '../public/styles/fonts.css';

    *,
    div {
        margin: 0;
        padding: 0;
    }

    button {
        margin: 0;
        padding: 0;

        border: none;
        outline: none;
        background-color: transparent;
    }

    main,
    main > article {
        position: relative;
        width: 1366px;
        height: 768px;
        margin: 0;
    }

    h2 {
        font-family: 'Segoe UI Light';
        font-size: 53px;
        font-weight: 100;
    }

    .line {
        width: 100%;
        height: 5px;

        background: url('../images/line.jpg') no-repeat;
    }

    div.basket {
        float: right;

        position: relative;
        top: 34px;
        right: 40px;

        width: 280px;
        height: 60px;

        cursor: pointer;
        text-align: right;

        background-color: #d9644a;

        z-index: 1000;
    }

    div.basket:before {
        position: absolute;
        top: 12px;
        left: 18px;

        width: 40px;
        height: 35px;

        content: '';

        background: url('../images/basket.png') no-repeat;
    }

    div.basket span {
        font-family: 'Segoe UI';
        font-size: 26px;
        line-height: 60px;

        padding-right: 29px;

        color: white;
    }

    .back {
        position: absolute;
        top: 50px;
        left: 38px;

        width: 45px;
        height: 45px;

        background: url('../images/back.png') no-repeat;
        background-size: contain;

        z-index: 1000;
    }

    section {
        font-family: 'Segoe UI';
        position: relative;
        margin: 0;
        padding: 27px 0 55px 120px;
        z-index: 100;
    }

</style>
